.vz-settings {
  &-eradicate-clyde-icon-wrapper {
    vertical-align: sub;
    margin-right: 4px;
  }
}

[vz-addon-icon] .label-22pbtT {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background: var(--vz-addon-icon) no-repeat center / contain;
    display: flex;
    border-radius: 4px;
    margin-right: 12px;
  }
}
