@use '@vizality' as vz;

.vz-dashboard-home-section-features {
  margin-top: 0 !important;
  padding: 40px;
}

.vz-dashboard-home-features {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  flex: 1;
  opacity: 0;
  animation: fadeShortSlideInFromBottom 0.15s forwards;
  &-card-wrapper {
    display: flex;
    padding: 10px;
    border-radius: 4px;
    width: 25%;
    box-sizing: border-box;
    flex: 1;
    min-width: 300px;
    min-height: 350px;
    margin-top: 50px;
  }
  &-card {
    background-color: var(--deprecated-card-bg);
    display: flex;
    flex: 1;
    padding: 20px 30px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    flex-flow: column wrap;
    align-items: center;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    &:hover {
      transform: translateY(-10px) !important;
      background-color: var(--background-tertiary);
      box-shadow: var(--elevation-high);
      .vz-dashboard-home-features-icon-wrapper {
        background-color: var(--background-primary);
      }
      .vz-dashboard-home-features-icon {
        transform: scale(1.5);
      }
    }
    &-header {
      font-size: 24px;
      font-weight: 700;
      margin-top: 20px;
    }
    &-body {
      margin-top: 20px;
      text-align: center;
      line-height: 1.5;
      flex: 1;
      color: var(--header-secondary);
    }
    &-footer {
      margin: 30px 0 10px 0;
    }
  }
}

.vz-dashboard-home-features {
  &-icon {
    transition: transform 0.3s ease;
    color: var(--header-primary);
    // stroke: var(--header-primary);
    // path {
    //   stroke-dasharray: 150;
    //   animation: strokeSVG 1s ease-in forwards, fillSVG .5s .5s ease-in forwards;
    //   stroke-width: 1;
    // }
    // @todo Fix background color for light theme.
    &-wrapper {
      &.vz-icon-wrapper {
        @include vz.size(50px);
        display: flex;
        margin-top: -90px;
        border-radius: 50%;
        padding: 20px;
        border: 20px solid var(--background-primary);
        background-color: var(--background-tertiary);
        transition: background-color 0.3s ease;
      }
    }
  }
}
