@use '@vizality' as vz;

@forward 'cta';
@forward 'features';
 
.vz-dashboard-home {
  &.vz-dashboard-layout {
    padding: 0;
    max-width: 100%;
  }
  .vz-wave-divider {
    color: var(--background-primary);
  }
}
