@use 'addons';
@use 'addon';
@use 'listing';
@use 'commands';

.vz-addon-info-message {
  &-ul {
    list-style: unset;
    font-weight: 600;
    padding: 16px 0 0;
  }
  &-li {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  &-icon {
    margin-right: 7px;
  }
}
