@use 'pages';
@use 'parts';

.vz-dashboard {
  color: var(--text-normal) !important;
  overflow: hidden;
}

.vz-dashboard-scroller {
  padding: 0!important;
}

.vz-dashboard-layout {
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  padding: 20px 40px;
  height: 100%;
  > div {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  > .vz-error-boundary {
    display: block;
  }
}

.vz-dashboard-section {
  user-select: text;
}
