.vz-commands-autocomplete {
  .vz-command-icon {
    color: var(--header-primary);
  }
  .vz-command-icon,
  .vz-commands-category-header-icon {
    border-radius: 50%;
  }
  &[vz-rail-active] {
    .autocompleteRow-2OthDa {
      padding: 0;
    }
  }
  .listItems-1uJgMC {
    top: 8px;
    right: 8px;
    bottom: 0px;
    left: 8px;
  }
  &:not([vz-rail-active]) {
    // Targetting only the header
    .autocompleteRow-2OthDa:first-of-type {
      position: sticky;
      top: 0;
      background: var(--background-mobile-secondary);
      z-index: 1;  
    }
  }
}
