.monaco-editor {
  .minimap {
    border-radius: var(--vz-editor-border-radius);
    overflow: hidden;
  }
  // Minimap scrollbar
  .decorationsOverviewRuler {
    border-radius: var(--vz-editor-border-radius);
  }
}
