@use '@vizality' as vz;

.vz-dashboard-content {
  &-header {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    display: flex;
    z-index: 1;
    flex: 0 0 auto;
    &-subtext {
      margin-top: 15px;
      font-weight: 300;
      line-height: 1.4;
      font-size: 18px;
    }
    &-background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      background: var(--background-tertiary);
      // Individual Plugin/Theme page only
      // background-image: url(https://ps.w.org/seo-by-rank-math/assets/banner-772x250.png?rev=2348086);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100%;
      overflow: hidden;
      z-index: 0;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(https://i.imgur.com/osrwxIy.png);
        background-repeat: repeat;
        background-attachment: fixed;
        opacity: .2;
      }
      // Individual Plugin/Theme page only
      &::after {
        // content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: vz.color('black');
        height: 100%;
        width: 100%;
        opacity: 0.4;
      }
    }
    &-inner-wrapper {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    &-icon-wrapper {
      &.vz-icon-wrapper {
        @include vz.size(24px);
        margin-right: 10px;
        z-index: 1;
        color: var(--header-secondary);
      }
    }
  }
  &.vz-hasBackground {
    .vz-dashboard-content-header-inner-wrapper {
      min-height: 200px;
      position: relative;
      padding: 40px;
      box-sizing: border-box;
    }
    .vz-dashboard-content-header-wrapper {
      margin: 0;
    }
    .vz-dashboard-content-header-icon-wrapper {
      @include vz.size(60px);
      position: relative;
    }
    .vz-dashboard-content-header-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
