.vz-dashboard-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  &-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  & + & {
    margin-top: 40px;
  }
}
