@use '@vizality' as vz;

@use 'keyframes';
@use 'colors';
@use 'icons';
@use 'logos';
@use 'base';
@use 'components';


.vz-hasNoGuildIcon {
  background-image: url('https://i.imgur.com/Fa13xn9.png');
}

.vz-hasNoGameIcon {
  background-image: url('https://i.imgur.com/Fa13xn9.png');
}

.vz-hasNoGameIcon * {
  display: none;
}
