@use '@vizality' as vz;

.vz-addons-list {
  display: flex;
  flex-flow: column;
  flex: 1;
  &-items {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    opacity: 0;
    margin: 20px -10px 20px; // Negative left and right margins to counteract vz-addon-card margin
    animation: fadeShortSlideInFromBottom 0.15s forwards;
  }
  &-inner {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    flex: 1 0 auto;
    &[vz-loading] {
      align-items: center;
      justify-content: center;
    }
  }
  &-search {
    margin: 0 8px;
    .icon-1S6UIr:not(.clear--Eywng).visible-3bFCH- {
      color: var(--text-muted);
    }
  }
  &-search-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    .vz-icon-wrapper {
      color: var(--interactive-normal);
      &:hover {
        color: var(--interactive-hover);
      }
    }
  }
  &-display-button {
    // To prevent the SVG parts from triggering the popout onClick which would cause the popout
    // to spawn slightly offset.
    svg * {
      pointer-events: none;
    }
  }
  &-search-options-button {
    cursor: pointer;
    margin: 0 8px;
    > div {
      display: flex;
    }
  }
  &-search-results-text-wrapper {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    color: var(--header-secondary);
  }
  &-search-results-matched {
    color: var(--header-primary);
  }
  &-empty {
    display: flex;
    flex-flow: column;
    align-items: center;
    > div {
      margin-bottom: 20px;
    }
  }
  &-sticky-bar {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    &-wrapper {
      @include vz.size(100%);
      position: sticky;
      top: -1px;
      border-radius: 8px;
      background: var(--background-secondary);
      z-index: 1;
      box-shadow: var(--elevation-low);
      flex: 0;
      &[vz-stuck] {
        background: var(--background-primary);
        border-radius: 0;
        width: calc(100% + 80px);
        margin-left: -40px;
      }
    }
  }
}

@media (max-width: 1050px) {
  .vz-addons-list-search-options-button:not(.vz-addons-list-more-button) {
    display: none;
  }
}
