@use '@vizality' as vz;

.monaco-editor {
  [class*='arrow-decoration'] {
    border-color: transparent transparent var(--background-tertiary) !important;
    margin-left: 0 !important;
  }
  .zone-widget {
    padding: 0 20px;
    box-sizing: border-box;
    .zone-widget-container {
      background: none !important; // #7289da
      border: 1px solid var(--background-tertiary) !important;
      border-radius: 3px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      box-shadow: var(--elevation-low);
      height: auto !important;
    }
  }
  .peekview-widget {
    &[style*='border-top-color: rgb(244, 135, 113);'] {
      .head {
        background: rgb(240 71 71) !important;
        color: vz.color('white') !important;
      }
    }
    .head {
      height: 40px !important;
      padding: 10px;
      background: var(--background-tertiary) !important;
      display: flex;
      align-items: center;
      flex: 1 0 auto;
      * {
        color: var(--header-secondary);
      }
      .peekview-title {
        margin-left: 0;
        .filename {
          display: none;
        }
      }
    }
    > .body {
      &[style*='border-color: rgb(244, 135, 113);'] {
        background: rgb(240 71 71 / .2) !important;
        &::after {
          @include vz.size(100%);
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: var(--background-secondary);
          z-index: -1;
        }
      }
      border: none !important;
      background: var(--background-secondary);
      padding: 10px 0;
    }
  }
  .marker-widget {
    padding: 10px 20px !important;
    height: 100% !important;
    > div {
      height: 100% !important;
      > .monaco-scrollable-element  {
        height: 100% !important;
      }
    }
    .descriptioncontainer {
      padding: 0;
      position: relative;
    }
  }
}

.split-view-view .monaco-list .monaco-list-rows {
  background: none !important;
}


.split-view-view .monaco-list .monaco-list-row {
  font-size: 14px;
  font-family: Whitney;
  font-weight: 500;
  padding: 0 15px;
  position: relative;
  top: 0 !important;
}

.monaco-tl-twistie {
  display: none !important;
}

.monaco-list .monaco-list-row.selected {
  background: var(--background-secondary-alt) !important;
  color: var(--header-primary);
}

.monaco-list:not(.drop-target) .monaco-list-row:hover:not(.selected):not(.focused) {
  background: var(--background-modifier-hover) !important;
}

.monaco-editor .reference-zone-widget .ref-tree {
  background: none !important;
}
