@use '@vizality' as vz;

 .vz-docs-components-icons {
   $base: &;
  &-icon-wrapper {
    display: flex;
    margin: 2px;
    &:hover {
      #{$base}-icon:not([vz-active]) {
        background-color: var(--background-modifier-selected);
        color: var(--interactive-hover);
      }
    }
  }
  &-icon {
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    overflow: visible;
    &[vz-active] {
      background: vz.color('blurple');
      color: var(--header-primary);
    }
  }
  &-aside {
    &-icon-wrapper {
      cursor: default;
      color: var(--header-primary);
      max-width: 200px;
      padding: 0 40px;
      backface-visibility: hidden;
    }
    &-icon {
      overflow: visible;
      box-sizing: border-box;
      height: max-content;
    }
    &-icon-name {
      padding: 0 20px;
    }
  }
}
